



#display {
    width: 100%;
    height: 5px;
    font-size: 24px;
    text-align: right;
    padding: 30px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}#calculator {
    width: 250px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #b82727;
}

button {
    width: 22%;
    height: 50px;
    margin: 1%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #0bb836;
    cursor: pointer;
}

button:hover {
    background-color: #d0d0d0;
}

#equals {
    background-color: #7ab17b;
    color: greenyellow;
}

#equals:hover {
    background-color: #45a049;
}

